
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a{
	text-decoration: none !important;
}
.logo_banner{
	background-color:white;
	margin:auto;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	
	}
.logo_banner img{
	width:30%;
	
	}

 

.navbar-default .navbar-nav>.active>a{
	background-color:#3EA89F !important;
	background-image: none !important;
}
.navbar-default .navbar-nav>.active>a:hover{
	color:#639 !important;
	}
.navbar-default .navbar-nav>.open>a{
	background-color: #3EA89F !important;
}
.navbar-default .navbar-nav>.open>a:hover{
	color: #639 !important;
}

.navbar {
   	background-color: #639 !important;
    background-image: none !important;
    margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	border:0px;
	border-radius:0px;
	
	
}

.navbar-header a{
	color: red !important;
	}
.navbar-header a:hover{
	color:#3EA89F !important;
	}
.dropdown-menu{
	background-color: #639;
}

.navbar li { 
	display:block;
	color: #000;
	margin-left:auto;
	margin-right:auto;
	} 
.navbar a{
	color: white !important;
	}
.navbar a:hover{
	color:#3EA89F !important;
	}
.navbar a:active{
	color:#3EA89F !important;
	}



.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 25px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 25px;
    text-align: center;
	margin:0;
    color: black;
    background: url(../img/intro-bg6.jpe) no-repeat center ;
    background-size: cover;
	border-bottom:5px solid;
	border-bottom-color:#3EA89F;
}

.padding_100{
	margin-top:60px;}

.intro-message {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
	background-color: black;
    border: 1px solid black;
	color:white;
    opacity: 0.6;
    filter: alpha(opacity=60);
	}
.intro-message h3{
	text-align:left;
	padding-left:10px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	color:white;
	}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
	
}
.intro-message input {
    color:black;
	padding-left:10px;
	text-align:left !important;
	margin-left:10px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
	text-align:left !important;
	padding-left:10px;
}


.trending img{
	border:1px solid #bfbfbf;
	width:300px;
	display: block;
    margin-left: auto;
    margin-right: auto
	}
.trending p{
	margin:auto;
	text-align:center;
	}
.trending_des{
	background-color:#dedede;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding:5px;
	text-align:center;
	width:300px;
	}
	
.trending_des button{
	background-color:#dedede;
	color:white;
	}


	
.section_featured{
	 background: url(../img/line.png) no-repeat center;
	 text-align:center;
	 margin:0px;
	}

.section_featured h2 span{
	background-color:#3EA89F;
	padding:0px 30px;
	color:white;
	letter-spacing: 3px;
	}

.pre_next_buttons{
	text-align:center;
	padding-top:20px;
	}
.pre_next_buttons button{
	color:white;
	background-color:black;
	}



	

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding:0;
    background-color: white;
	margin-right:auto;
	margin-left:auto;
	width:90%;
	
}

.content-section-b {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
	.trending_des img{
	width:200px;}
}

footer {
    background-color: white;
	margin-top:20px;
	
}

.footer_block{
	padding-left:0 !important;
	padding-right:0 !important;
	float:left;
	text-align:center;}

.footer_title{
	background-color:#343434;
	color:white;
	width:100%;
	float:left;
	height:25px;
	margin:0 !important;
	font-size:15px !important;
	text-align:center;
	}

p.copyright {
    margin: 15px 0 0;
}



.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}








.search_body{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	}


.filter{
	min-height:300px;
	padding-right: 0px  !important;
	padding-left: 0px  !important;
	background-color:#dedede;
	}
.filter h1{
	background-color:#3EA89F;
	padding-top:4px;
	padding-bottom:4px;
	font-size:20px;
	text-align:center;
	color:white;
	margin-top:0px !important;
	}

.filter_title{
	padding:3px;
	margin-top:5px;
	background-color:#dedede;
	text-align:center;
	}

.filter button{
	background-color:#639;
	color:white;
	border-color:black;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:5px;
}
.filter_title button:hover{
	background-color:#3EA89F;
	color:white;
	border-color:white;
}
.filter_content{
	padding:3px;
	background-color:#dedede;
	
	}	
.search_content{
	min-height:300px;
	border:1px solid #bfbfbf;
	}
.search_item{
	margin:5px;
	padding:3px;
	border:1px solid #bfbfbf;
	background-color:#dedede;
	}



.search_item img{
	width: 200px;
	margin:5px;
	float:left;
	display:block;
	}

.search_item_content{
	margin:5px;
	margin-left:0px !important;
	}
.search_item_title{
	float:left;
	width:100%;

	}
.search_item_detail button{
	float:right;
	background-color:#639;
	color:white;
	border-color:black;
	text-align:center;
}
.search_item_detail button:hover{
	background-color:#3EA89F;
	color:white;
	border-color:white;
}


.search_item_detail{
	float:left;
	width:100%;
	padding:3px !important;
	padding-top:3px !important;
	}
.search_item_detail_left{
	}
.search_item_detail_right{
	text-align:right;
	}
.search_item_detail_right h5{
	font-size:20px !important;
	margin-bottom:0px !important;
	color:#639;
	}
.search_item_detail_right h2{
	font-size:25px !important;
	margin-top:0px !important;
	margin-bottom:15px !important;
	color:#639;
	}
.search_item_detail_right h2:hover{
	font-size:31px !important;
	margin-top:0px !important;
	margin-bottom:9px !important;
	}
	

.search_item_icons {
	margin-top:30px;
	}
.search_item_title h1{
	font-size:25px !important;
	margin-top:5px !important;
	font-weight:bold;}


	
/*!
 * Detail page css*/
 
 .detail{
	border:1px solid black;
	min-height:300px;
	margin-top:10px;
	}
	
/*!
 * Detail page end*/
	
/*!
 * Common*/
 
.float_left{
	float:left;
	}

.float_right{
	float:right;
	}
	
.white_clear{
	background-color:white;
	border-top:5px solid white;
	width:100%;
	margin-top:0px !important;
	padding-top:0px !important;
	}

.b1{
	border:1px solid black;
	}






/*
Sign UP Form*/

.signup_form{
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:30px;
	float:none;
	border:1px solid #ccc;
	padding:25px;
	background-color: white;
	position:relative;
	box-shadow: 0 1px 18px 1px #ccc;
	
}
.signup_form table{ 
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:30px;
	
}

.signup_form input[type=text],input[type=password],input[type=number],input[type=email]{
	width:300px;
	height:40px;
	margin-top:10px;
	padding:5px;
	padding-left:20px;
    padding-right:10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:right;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

.signup_form input[type=submit] {
	width:300px;
	height:40px;
	margin-top:10px;
	padding:5px;
	padding-left:20px;
    border-radius: 4px;
	border:none;
	background-color: #3EA89F;
	color:white;
	}
.signup_form input[type=submit]:hover{
	background-color: #41AFA8;
}


.signup_form_fname{
	background: url(../img/icon/user.png);
 	background-origin: content-box;
 }
.signup_form_location{
	background: url(../img/icon/location.png);
 	background-origin: content-box;
 }
.signup_form_email{
	background: url(../img/icon/email.png);
 	background-origin: content-box;
 }
.signup_form_phone{
	background: url(../img/icon/phone.png);
 	background-origin: content-box;
 	}
.signup_form_password{
	background: url(../img/icon/key.png);
 	background-origin: content-box;
 }


.signup_or_div{
	float:none;
	background: url(../img/line.png) no-repeat center;
 	text-align:center;
 	padding: 15px 30px;
 	margin-left:35px;
 	margin-right:35px;
}

.signup_or span{
	background-color: white;
	padding-left:10px !important;
	padding-right:10px !important;
	font-size:20px;
	font-weight: bold;
}
.signup_login{
	text-align:center;
}

.signup_login img{
	margin-top:20px;
	padding-left:5px;
	padding-right:5px;

	width:48px;

}

.signup_login span{
	font-size:16px;
	font-weight: bold;
}
.signup_login a{
	color:black;
}
.signup_login a:hover {
    color:#3EA89F;;
}

.signup_title{ 
	margin-left:-10px !important;
	margin-right:0px !important;
	padding-right:15px !important;
	top:-20px;
	padding-bottom:3px !important;
	padding-top:3px !important;
	font-size:25px;
	text-align:center;
	position:absolute;
	color:black;
}

.signup_title span{
	background-color:#ffffff; 
	padding-left:30px !important;
	padding-right:30px !important;
	padding-top:3px;
	padding-bottom:3px;
	border:1px solid #ccc;
	box-shadow: 0 1px 18px 1px #ccc;
}


.forgot-password {
    margin-top:10px !important;
    margin-bottom:10px !important;
}
.forgot-password a {
    color: #A0A0A0;
    font-family: arial,sans-serif;
    font-size: 12px;
}
.forgot-password a:hover {
    color: black;
    cursor: pointer;
}
body{
	background-color: #F9F9F9;
}



/*!
 * Activities Main Page*********************************************************************************************************/
	
/*!
 * Common*/
.owl-carousel{
	position: relative;
	z-index:-1;
	border-bottom: 5px solid #3EA89F;
}
.activities_carousel-prev{
	position:absolute;
	z-index:100;
	left:0;
	top:35%;
	height:102px;
	background: url(../img/leftcurve.png) no-repeat center;
	opacity: 0.5;
}
.activities_carousel-next{
	position:absolute;
	z-index:100;
	height:102px;
	right:0;
	top:35%;
	background: url(../img/rightcurve.png) no-repeat center;
	opacity: 0.5;
}
.activities_carousel-prev, .activities_carousel-next img{
	padding: 35px 15px 10px 15px;
}

.activities_carousel-prev:hover, .activities_carousel-next:hover{
	opacity: 0.7;
	background: none;
	cursor: pointer;
	-moz-transform: scale(1.15);
  	-ms-transform: scale(1.15);
  	-o-transform: scale(1.15);
  	-webkit-transform: scale(1.15);
  	transform: scale(1.15);
		
}

.activities_carousel{
	width:100%;
	height: 400px;
	padding:0px !important;
	margin:0px !important;
	position:relative;
	z-index: -1000;
	background: url(../img/intro-bg6.jpe) no-repeat center ;
    	background-size: cover;

}
.activities_carousel img{
	width:100%;
	height: 400px;
	padding:0px !important;
	margin:0px !important;
	position:relative;
	z-index: -1000;
	box-shadow: 0px 13px 18px 1px black;
	
}

.activities_carousel-details{
	display:block;
	position:absolute;
	z-index: 10;
	min-width:25%;
	top:10%;
	right:5%;
	background-color:rgba(0,0,0,0.5);
	text-align: left;
	padding:15px 15px;
	color:white;
	text-align: justify;
}
.activities_carousel-details h1{
	font-size: 25px;
	margin-top:0px !important;
	letter-spacing: 5px;
}
.activities_carousel-details span{
	font-size: 15px;
	padding:20px 10px;
	margin-bottom: 10px;
	
}

.activities_carousel-details a{
	font-size: 16px;
	background-color: rgb(102, 51, 153);
	cursor:pointer;
	color: white;
	margin:20px 5px;
	padding: 5px 10px;
	opacity: 0.9;
	}

.activities_carousel-details a:hover{
	background-color: #3EA89F;
}


											.activities_detail{
												width:100%;
												text-align:center;
												display:block;
												position:absolute;
												z-index: 10;
												bottom:20%;
											}
											.activities_detail span{
												width:100%;
												font-size: 25px;
												text-align:center;
												color: white;
												opacity: 0.7;
												text-shadow: 1px 1px black;
												padding:2px 5px;
											}

											.activities_detail a{
												font-size: 13px;
												background-color: black;
												opacity: 0.7;
												cursor:pointer;
												color: white;
												padding:3px 3px;
											}
											.activities_detail a:hover{
												color: black;
												background-color: white;
											}


											.activities-tiles {
											    padding:0;
											    background-color: white;
												width:90%;
												border-bottom:1px solid black;
												margin-right: auto;
												margin-left: auto;
												margin-bottom:5px;
												box-shadow: 0px 13px 18px 1px black;
												position: relative;
												text-align: center;
											}

											.activities-tiles-title{
												background-color: #2C2C2C;
												text-align: center;
												margin-right: auto;
												margin-left: auto;
												box-shadow: 1px 10px 20px 1px black;
												}
											.activities-tiles h2 span{
												text-align:center;
												padding:2px 10px;
												color:white;
												box-shadow: inset 1px 1px 5px 2px black;
												}
											.activities{
												background-color: black;
												margin:0px !important;
												padding:0px !important;
											}
											.activities:hover img{
												opacity: 0.4;
											}


											.activities_detail a:hover{
												background-color: white;
												color: black;
											}

											.activities img{
												width:304px;
												display: block;
											    margin-right:0px !important;
												padding-right:0px !important;

											}


/*Activities Tiles---Div******************************************************************************************
*
*/

.activities-tiles2 {
    margin-top:20px;
	background-color:#FBFBFB;
	width:90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:5px;
	position: relative;
	text-align: center;
}


		/*******Activities Tiles Title------DIV **************/
		.activities_title{
			text-align: center;
			margin-right:auto;
			margin-left:auto;
			margin-bottom:10px;

		}


				/*******Activities Tiles ----Title **************/

				.activities_title span{ 
					font-size:20px;
					padding: 10px 20px;
					margin-right:auto;
					margin-left:auto;
					border:2px solid rgba(0, 0, 0, 0.7);
					opacity: 0.7;
					letter-spacing: 7px; 
				}

		
				/****END***********Activities Tiles ----Title **************/
		
		/****END********Activities Tiles Title------DIV **************/


		/*******Activity----- Div **************/

		.activities2{
			margin:0px !important;
			padding:0px !important;
		}

		.activities2:hover{
			-webkit-transition-property: scale(1.1115); /* Safari */
		    -webkit-transition-duration: 1s; /* Safari */
		    transition-property: scale(1.1115);
		    transition-duration: 1s;
		    -moz-transform: scale(1.1115);
		  	-ms-transform: scale(1.1115);
		  	-o-transform: scale(1.1115);
		  	-webkit-transform: scale(1.1115);
		  	transform: scale(1.1115);
		}

		.activities2:hover img{
						box-shadow: 0px 0px 18px 3px black;
					}

					/*Activity------image*/
					.activities2 img{
						width:270px;
						display: block;
					    margin:15px auto !important;
						background-color: black !important;
						border:1px solid rgba (0, 0, 0, 0.6);
					}
					
					/*END*********Activity------image*/
					

					/*******Activity ------- DIV-----------Title--------- **************/
					.activities_detail2{
						width:100%;
						text-align:center;
						position:absolute;
						z-index: 10;
						bottom:30%;
						color: white;
						
					}
					
					.activities_detail2 span{
						font-size: 25px;
						text-align:center;
						text-shadow: 2px 2px black;
						padding:2px 5px;
						opacity: 0.6;
					}

					/**END*****Activity ------- DIV-----------Title--------- **************/
					
					
		/****END********Activity----- Div **************/


/******END*********Activities Tiles---Div********************************************************************************************/


/**Top Activities ***/
	.top_activities{
		background-color:white;
		border:1px solid #ccc; 
		padding:10px;
		margin-bottom:10px;
		margin-right: auto;
		margin-left: auto;

	}

	.top_activities-content{
		 padding-left: 0px; 
		 padding-right: 0px !important;
	}
	.top_activities img{
		 float:left;
		 border:1px solid #ccc; 
		 max-width:100%;
	}

	.top_activities-img{
		padding-left: 0px;
		 padding-right: 0px !important;
	}
	.top_activities-content-right{
		padding:15px 20px 10px 20px;
	}

	.top_activities-content-right-row{
		padding-left:10px;
	}
	.top_activities-content-right-row a{
	background-color:#639;
	color:white;
	border:none;
	padding:3px 10px;
	float:right;
	margin-top:30px;
	margin-right:30px;
	}
	.top_activities-content-right-row-price{
	margin-top:10px;
	color:#639;
	font-size:30px;
	}
	



/*Rent a car page ..............................*/
.rentacar {
    padding-top: 25px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 25px;
    text-align: center;
	margin:0;
    color: black;
    background: url(../img/rentacar_banner.jpg) no-repeat center ;
    background-size: cover;
	border-bottom:5px solid;
	border-bottom-color:#3EA89F;
}

.rentacar_banner-detail {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
	background-color: black;
    border: 1px solid black;
	color:white;
    opacity: 0.6;
    }
.rentacar_banner-detail h3{
	text-align:left;
	padding-left:10px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	color:white;
	}
.rentacar_banner-heading{
    margin: 0;
    color:white;
    opacity:0.8;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.rentacar_banner-heading h1 {
    text-shadow: 2px 2px 3px black;
    font-size: 5em;
    color:white;
}
.rentacar_banner-heading h5 {
    text-shadow: 2px 2px 3px black;
    color:white;
    font-size: 3em;
    margin-top:0px;
}



.label {
    display: block;
    margin-top:10px !important;
    margin-bottom:0px !important;
    color:black;
    font-family: arial,sans-serif;
    font-size: 15px;
    text-align: left;
}


.rentacar_form{
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:30px;
	float:none;
	border:1px solid #ccc;
	padding:25px;
	background-color: white;
	position:relative;
	box-shadow: 0 1px 18px 1px #ccc;
	
}
.rentacar_form hr{
	margin:0px !important;
}
.rentacar_form h4{
	margin-top:0px !important;
	text-align: center;
}
.rentacar_form table{ 
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:30px;
	
}
.rentacar_form-table2{
	text-align:left;
}

.rentacar_form input,select{
	height:40px;
	margin-top:10px;
	padding:5px;
	padding-left:20px;
    padding-right:10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position:right;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}
.rentacar_form select{
	width:300px;
}
.rentacar_form input[type=text],input[type=password],input[type=number],input[type=email]{
	width:300px;
	}
.rentacar_form input[type=date]{
	width:200px;
	}
.rentacar_form input[type=time]{
	width:100px;
	}


.rentacar_form input[type=submit] {
	width:300px;
	height:50px;
	margin-top:30px;
	padding:5px;
	padding-left:20px;
    border-radius: 4px;
	border:none;
	background-color: #3EA89F;
	color:white;
	}
.rentacar_form input[type=submit]:hover{
	background-color: #41AFA8;
}

/*plan a trip page ---------------------------------------------*/


.planatrip_left{
	margin:30px auto;
}
.planatrip_left img{
	margin-left:auto;
	margin-right:auto;

}

.planatrip_right{
	padding:30px;
	margin:30px auto;
	border:1px solid #ccc;
	background-color: #f7f7f7;
	box-shadow: 0px 0px 18px 2px #ccc;
}

.planatrip_right input[type="text"]{
	border-radius: 5px;
}
.planatrip_right input[type="number"]{
	border-radius: 5px;
	width:60px;
	padding-left:2px !important;
	text-align: right;
}

/*Browse***************************************************************/

.browse{
	margin-left:20px;
	margin-right: auto;
	padding:0px;
	margin-top:15px;
}
.browse-title{
	padding:0px 5px ;
	margin: 0px !important;
	background-color: #639;
}
.browse-title h1{
	padding:0px !important;
	margin-top: 0px !important;
	font-size:20px;
	text-align: center;
	color:white;
	letter-spacing: 1px;
	font-family:Helvetica !important;
	font-weight: 100;
}

.browse h2{
	padding:0px 10px !important;
	margin-left:15px;
	margin-top: 15px !important;
	margin-bottom: 5px !important;
	font-size:18px;
	text-align: left;
	font-weight: 700;
}

.browse h2 a{
	color:#333333 !important;
}
.browse h2 a:hover{
	color:#3EA89F !important;
}
.browse h3{
	padding:0px 15px !important;
	margin-left:10px;
	margin-top: 0px !important;
	margin-bottom: 3px !important;
	font-size:15px;
	text-align: left;
	color:white;
	font-family:Helvetica !important;
	font-weight: 100;
}

.browse h3 a{
	color:black !important;
}
.browse h3 a:hover{
	color:#3EA89F !important;
}

/*Activities Detail PAge**********************************************/
	.activitiesdetail{
		width:90%;
		margin-left:auto;
		margin-right:auto;

	}
	.activitiesdetail-image{
		margin:5px;
	}
	
	.activitiesdetail-image img{
		border:1px solid #ccc;
	}
	.activitiesdetail-top_detail{
		margin:5px 0px !important;
		padding:10px !important;
		border:1px solid #ccc;
		background-color: white;
	}

	.activitiesdetail-top_detail h1{
		margin-top:0px;
	}
	.activitiesdetail-top_detail-price{
	    margin-top: 10px;
    }
    .activitiesdetail-top_detail-price h2{
	    color: #639;
    }

    .activitiesdetail-top_detail-book{
    	text-align: right;
    	margin-top: 50px;
	}
    .activitiesdetail-top_detail-book button{
    	color:white;
    	background-color: #639;
    	border:none;
    	padding: 3px 10px;
    	font-size: 15px;
    }

    
    .activitiesdetail-map{
    	margin:20px 0px;
    	width:100%;
    	height:300px;
    	border:1px solid #ccc;

    }




.packages_div{
	margin:10px auto;
	text-align: center;
	border:1px solid #ccc;
	background-color: white;
	min-height:100px;

}
.packages_title h2{
		font-size:30px;
}
.packages_title{
}
.packages_price{
		border-right: 1px solid black;
		border-left: 1px solid black;
		font-size:30px;
		height:inherit;
}
.packages_price h2{
	color:#639;
}
.packages_book{
		color:white;
    	height: inherit;
    }
.packages_book button{
		color:white;
    	background-color: #639;
    	border:none;
    	padding: 3px 10px;
    	font-size: 15px;
    }



/**Packages Details*/
.packages{
	padding-top:18px;
	position: relative;
	text-align:center;
}

.packages img{
	width:100%;
	z-index:-1000;
	min-height: 300px;
}
.packages h1{
	position: absolute;
	top:40%;
}

.packages-title{
	text-align: center;
	width:100%;
}



.packages_carousel{
	padding-top:18px;
	margin:0px !important;
	position:relative;
	z-index: -1000;
	
}
.packages_carousel img{
	width:100%;
	padding:0px !important;
	margin:0px !important;
	position:relative;
	z-index: -1000;
	
}

.packages_description{
	border:1px solid #ccc;
	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	background-color: white;
}

.no_padding{
	padding:0px !important;
	margin:0px !important;
}